<ion-app>
  <ion-page class="ion-page" id="main-content">
    <app-header></app-header>
    <ion-content class="ion-padding">
      <div class="p-3">
        <h1>Forgot Password</h1>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)='forgotPassword()'>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{ 'is-invalid': form.email.errors && (form.email.touched || form.email.dirty) }">
            <div *ngIf="form.email.errors && (form.email.touched || form.email.dirty)" class="text-danger">
              <div *ngIf="form.email.errors.required">Email Required</div>
            </div>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{ 'is-invalid': form.password.errors && (form.password.touched || form.password.dirty) }">
            <div *ngIf="form.password.errors && (form.password.touched || form.password.dirty)" class="text-danger">
              <div *ngIf="form.password.errors.required">Password Required</div>
            </div>
          </div>
          <div class="mb-3" *ngIf="invalidCredentials">
            <p class="text-danger">Invalid Email/Password</p>
          </div>
          <div class="mb-3">
            <div class="row">
              <div class="col-9 pt-1">
                <a routerLink="/auth/signup">Sign up </a> |
                <a routerLink="/auth/forgot-password">Forgot Password</a>
              </div>
              <div class="col-3 text-right">
                <button type="submit" class="btn btn-success">Login</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </ion-content>
    <app-footer></app-footer>
  </ion-page>
</ion-app>
