<ion-app>
  <ion-page class="ion-page" id="main-content">
    <app-header></app-header>
    <ion-content class="ion-padding">
      <div class="p-3">
        <h3>Please provide all information</h3>
        <form [formGroup]="createProfileForm" (ngSubmit)='createProfile()'>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="fullName" placeholder="Full Name">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="age" placeholder="Age">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="education" placeholder="Education">
          </div>
          <div class="mb-3">
            <select id="status" class="form-control" formControlName="status">
              <option value="">Select Status</option>
              <option value="single">Single</option>
              <option value="divorcedWithoutKids">Divorced without kids</option>
              <option value="divorcedWithKids">Divorced with kids</option>
              <option value="separatedWithoutKids">Separated without kids</option>
              <option value="separatedWithKids">Separated with kids</option>
              <option value="divorcedWithoutRukhsati">Divorced without rukhsati</option>
              <option value="separatedWithoutRukhsati">Separated without rukhsati</option>
              <option value="married">Married</option>
            </select>
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="profession" placeholder="Profession">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="cast" placeholder="Cast">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" formControlName="maslak" placeholder="Maslak">
          </div>
          <div class="mb-3">
            <h2>Height</h2>
            <div class="row">
              <div class="col-6">
                <label for="feet">Feet</label>
                <select id="feet" formControlName='feet' class="form-control">
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                </select>
              </div>
              <div class="col-6">
                <label for="inch">Inch</label>
                <select id="inch" formControlName='inch' class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
                </select>
              </div>
            </div>
          </div>
          <div class="mb-3 text-right">
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </ion-content>
    <app-footer></app-footer>
  </ion-page>
</ion-app>
