<ion-app>
  <ion-page class="ion-page" id="main-content">
    <app-header></app-header>
    <app-home-slider class="home-slider"></app-home-slider>
    <ion-content class="ion-padding">
      <div class="row">
        <div class="col-xs-6">
          <button type="button" class="btn btn-success" [routerLink]="['/listing']" [queryParams]="{searchType: 'female'}">Find Bride</button>
        </div>
        <div class="col-xs-6">
          <button type="button" class="btn btn-primary" [routerLink]="['/listing']" [queryParams]="{searchType: 'male'}">Find Groom</button>
        </div>
      </div>
    </ion-content>
    <app-footer></app-footer>
  </ion-page>
</ion-app>
<ion-menu-controller></ion-menu-controller>
