<ion-app>
  <app-header></app-header>
  <ion-page class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-toggle>
            <ion-button>
              <ion-icon slot="icon-only" name="menu"></ion-icon>
            </ion-button>
          </ion-menu-toggle>
        </ion-buttons>
        <ion-title>Header</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="p-3">
        <button type="button" class="btn btn-success" (click)="searchMatch('bride')">Find Bride</button>
        <button type="button" class="btn btn-primary" (click)="searchMatch('groom')">Find Groom</button>
      </div>
    </ion-content>
    <app-footer></app-footer>
  </ion-page>
</ion-app>

<ion-menu-controller></ion-menu-controller>
