.main-menu {
  /* height: 200px; */
  --width: 100%;
}
.home-slider {
  width: 100%;
  height: 300px;
}
.details-card {
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}
.user-details {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
}
.user-details li {
  list-style: none;
  margin: 0 0 8px;
}
.user-details li span:first-child {
  color: var(--ion-color-primary, #3880ff);
}
