<ion-app>
  <ion-page class="ion-page" id="main-content">
    <app-header></app-header>
    <ion-content class="ion-padding">
      <div class="col-12 mb-3 match-listing">
        <div class="list-item">
          <img src="/resources/icon.png" alt="main image">
          <div class="mt-2">
            <ul>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
              <li>
                <span>Name:</span>
                <span>Name:</span>
              </li>
            </ul>
          </div>
          <div class="mt-2">
            <a href="#">View Number</a>
          </div>
        </div>
      </div>
    </ion-content>
    <app-footer></app-footer>
  </ion-page>
</ion-app>
