<ion-app>
  <ion-page class="ion-page" id="main-content">
    <app-header></app-header>
    <ion-content class="ion-padding">
      <div class="mb-3">
        <a routerLink="" (click)="searchFilter = !searchFilter">Filters</a>
        <form [formGroup]="filterForm" *ngIg="searchFilter">
          <div class="mb-3">
            <label for="bride"><input type="radio" id="bride">Bride</label>
            <label for="groom"><input type="radio" id="groom">Groom</label>
          </div>
        </form>
      </div>
      <div class="col-12 mb-3 match-listing" *ngFor="let profile of profileListing">
        <div class="details-card">
          <div class="user-image">
            <!-- <ion-img src="../assets/images/splash.png"></ion-img> -->
          </div>
          <div class="mt-2">
            <ul class="user-details row">
              <li class="col-6">
                <span>Name: </span>
                <span>{{profile.fullName}}</span>
              </li>
              <li class="col-6">
                <span>Age: </span>
                <span>{{profile.age}}</span>
              </li>
              <li class="col-6">
                <span>Education: </span>
                <span>{{profile.education}}</span>
              </li>
              <li class="col-6">
                <span>Height: </span>
                <span>{{profile.feet}}'{{profile.inch}}"</span>
              </li>
              <li class="col-6">
                <span>Status: </span>
                <span>{{profile.status}}</span>
              </li>
            </ul>
            <div class="col-12 text-right">
              <button class="btn btn-link">View Number</button>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
    <app-footer></app-footer>
  </ion-page>
</ion-app>
